.heroForm {
  background: $secondary;
  padding: 2rem 0;

  &__title {
    @include text-3xl-bold;
    color: $white;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__form {
    background: $background;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-shadow: 0 0 15px $white;

    @include on-tablet {
      padding: 2rem;
    }
  }
}
